/* header[banner] */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    position: relative;
  text-align: center;
  
    background-size: cover;
    background-position: top;
    

}
.banner .banner-blog{
    text-align: right;
    position: absolute;
     top:216px;
     right:230px;
  }
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    text-align: right;
    margin-bottom: 24px;
    padding-left: 50%;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
    padding-left: 60%;
    line-height: 26px;
}
.btn-primary{
    color:#ffffff;
    font-weight: 700;
    font-size: 20px;
    border:0;
    padding: 18px 35px;
    height: 64px;
    border-radius:5px;
    background: #fd6e0a ;
}

/* main section[about] */
 
.main .about{
    background-image:url("images/person.png") ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 87px;
    margin-top:130px ;
    margin-left: 206px;
}
.about-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
    margin-right: 450px;
}
.about-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
    margin-right: 322px;
}
 div .list{
    margin-bottom: 10px;
 }
 i{
    color: green;
}
     /* plan section */
     .plan-section{
        margin: 130px;
     }

      .section-title{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        color: #151414;
        margin-bottom: 60px;
      }

     .total-plans{
        display: flex;
        justify-content: space-around;
     }
     .plan-section.plan{
        align-items: center;
        
     }
     .plan-title{
        font-weight: 700;
        font-size: 30px; 
        color: #151414;
        margin-top: 24px;
        margin-bottom: 16px;
        text-align: center;
     }  
     .plan-sub-title{
     font-weight: 500;
     font-size: 25px;
     color: #737272;
     text-align: center;
     }
      .plan ,img{
     text-align: center;
     }


     /* <!-- positive mindset section --> */

    .positive{
      background-image: url("../images/gradient2.png"),url("../images/watch.png");
      background-repeat:no-repeat;
      width:60%;
      height: 300px;
      margin:130px auto;
      display: flex;
      align-items: center;
    
    }
    .positive-text{
      padding-left:  64px;

    }

    .positive-title{
      font-weight: 700;
      font-size: 40px;
      color: #FFFFFF;
      margin-bottom: 24px;
     padding-right: 20%;
    }
     
    .btn-call{
      font-weight: 600;
      font-size: 20px;
      color: #F15B22;
      width: 160px;
      height: 64px;
      border-radius: 5px;
      border: 0;

    }
          /* contact-section */
         
         
          .contact-section{
            background: #151414;

          }
          .contact-information{
            display: flex;
            padding:130px 230px;
            gap: 330px;
            justify-content: space-between;
            

          }
          .contact .contact-title{
            font-weight: 700;
            font-size: 45px;
            margin-bottom: 16px;
            color: #FFFFFF;
            
          }
          .contact .contact-description{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 24px;
            color: #FFFFFF;
            padding-right: 40%;
          }
          .contact .contact-email{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 26px;
            color: #FFFFFF;
            text-decoration: none;
          }
          .contact .contact-phone{
            font-weight: 400;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 32px;
            color: #FFFFFF;
          }
          
            
            
          
          nav,p{
            display:flex;
            
            align-items: left;
            gap:10px;

          }

          .contact-end .contact-title{
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 31px;
            color: #FFFFFF;

          }
          input[type= "email"]{
            font-weight: 400;
            font-size: 18px;
            border: 1 ;
            color: #F3F3F3;
            padding-left: 21px;
            width: 325px;
           height: 64px;
            background: #151414;
            border-radius: 10px;
            margin-bottom: 16px;

          }
          input[type= "subscribe"]{
            font-weight: 600;
            font-size: 20px;
            color: #F15B22;
            width: 170.11px;
            height: 64px;
            border-radius: 10px;
            text-align: center;

          }